<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--box icons -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        body{
            position: relative;
            top:10px;
        }
        .container{

            justify-content: center;
            align-items: center;
            position: center;
            width: 600px;
            height: 500px;

        }
    </style>
</head>

<body>
<div class="container">
    <a href="/../home">Home</a>
    <table class="table" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tr th:each="v : ${vendas}">
            <td th:text="${v.idVenda}"> </td>
            <td th:text="${v.data}"> </td>
            <td th:text="${v.TotalVenda}"> </td>

        </tr>
    </table>
</div>
</body>

</html>